@model EventPhotos.Models.Event

@{
    ViewBag.Title = "Album";
}

<h2>Просмотр альбома</h2>

@foreach (EventPhotos.Models.Photo item in Model.Photos)
{
    <img src= "@Url.Content(item.photoPath())" class="imgBox" alt="image" height="100" width="100"/>
}



@Html.FileUploadForm("/Events/SaveUploadedFile")

@section scripts{
    <script type="text/javascript">
    Dropzone.options.dropzoneForm = {
        init: function () {
            myDropzone = this;
            this.on("complete", function (data) {
               
            });
        }
    };
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

